<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle</title>
</head>
<body>
    <nav>
        <li><a href="/circle">Circle</a></li>
        <li><a href="/triangle">Triangle</a></li>
    </nav>

    <h1>Area of Circle Calculation</h1>
    <form action="/circle" method="POST">
        <div>
        <label for="radius">Radius: </label>
        <input type="text" name="radius" id="radius">
    </div>
    <button type="submit">Submit</button>
    </form>
</body>
</html>